
  <footer>
    <div class="container text-center">
      <nav class="row">
        <ul>
          <li><a href="/">Home</a></li>
          {{#each collections.pages}}
          <li><a href="/{{this.path}}">{{this.title}}</a></li>
          {{/each}}
        </ul>
      </nav>
      <div class="social row">
        <a href="https://github.com/forbesg" title="Github" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://plus.google.com/u/0/+ForbesGray" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a href="https://twitter.com/4beez" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/4beeeez" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
      <p class="copy">
        &copy; 2015 <a href="mailto:fnbg75@gmail.com">Forbes Gray</a>
      </p>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/script.min.js"></script>
</body>
</html>
