
  <footer>
    <div class="container text-center">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          {{#each collections.pages}}
          <li><a href="/{{this.path}}">{{this.title}}</a></li>
          {{/each}}
        </ul>
      </nav>
      <div class="social">
        <a href="#" title="Github"><i class="fa fa-github"></i></a>
        <a href="#" title="Github"><i class="fa fa-google-plus"></i></a>
        <a href="#" title="Github"><i class="fa fa-twitter"></i></a>
        <a href="#" title="Github"><i class="fa fa-instagram"></i></a>
      </div>
      <p class="copy">
        &copy; 2015 FNBG
      </p>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
