<div class="">
  <div class="logo col-md-4 text-center">
    <a href="/">
      <!-- <img src="/images/logo.png" alt="Logo" /> -->
      <img src="/images/drawing.svg" alt="Logo" />
    </a>
  </div>
  <div class="nav-toggle">
    <i class="fa fa-bars"></i>
    <!-- <i class="glyphicon glyphicon-menu-hamburger"></i> -->
  </div>
  <div class="col-md-8">
    <div class="nav-container">
      <nav class="main-nav">
        <ul class="">
          <li><a href="/">Home</a></li>
          {{#each collections.pages}}
          <li><a href="/{{this.path}}">{{this.title}}</a></li>
          {{/each}}
        </ul>
      </nav>
  </div>
  </div>
</div>
