<div class="">
  <div class="logo col-md-4 text-center">
    <a href="/">
      <!-- <img src="/images/drawing.svg" alt="Logo" /> -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#2b3e50" d="M-.714-.143h512v512h-512z"/><path fill="#fff" d="M22.106 24.24h160v160h-160z"/><path fill="#2b3e50" d="M29.458 31.637h160v160h-160z"/><path fill="#fff" d="M489.894 24.24h-160v160h160z"/><path fill="#2b3e50" d="M482.542 31.637h-160v160h160z"/><path fill="#fff" d="M22.106 487h160V327h-160z"/><path fill="#2b3e50" d="M29.458 479.605h160v-160h-160z"/><path fill="#fff" d="M489.894 487h-160V327h160z"/><path fill="#2b3e50" d="M482.542 479.605h-160v-160h160z"/><path d="M227.75 258.34h-57.96v61.92h-10.8V191.38h72.9v9h-62.1v48.96h57.96v9zM309.99 322.78q-25.56 0-39.96-19.26-14.4-19.26-14.4-48.06 0-28.98 16.02-47.52 16.02-18.72 43.02-18.72 19.98 0 34.56 6.66l-3.24 8.64q-16.38-6.3-31.86-6.3-21.24 0-34.56 16.92-13.14 16.92-13.14 40.68 0 25.74 11.34 41.94 11.52 16.02 33.84 16.02 16.74 0 30.6-6.66v-42.48h-32.22v-9h43.02v63q-2.16-1.62-5.58-1.62l-16.02 2.88q-15.48 2.88-21.42 2.88z" style="line-height:125%;-inkscape-font-specification:Laksaman" font-weight="400" font-family="Laksaman" letter-spacing="10" word-spacing="0" fill="#fff"/></svg>
    </a>
  </div>
  <div class="nav-toggle">
    <!-- <i class="fa fa-bars"></i> -->
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <div class="col-md-8">
    <div class="nav-container">
      <nav class="main-nav">
        <ul class="">
          <li class=""><a href="/">Home</a></li>
          {{#each collections.pages}}
          <li class=""><a href="/{{this.path}}/">{{this.path}}</a></li>
          {{/each}}
        </ul>
      </nav>
    </div>
  </div>
</div>
