{{> head}}
  <div class="container-fluid banner">
    <div class="">
      <header>
        <div class="row">

          {{> header}}

        </div>
      </header>
      <div class="">
        <div class="banner-text">
          <h1 class="four-o-four title animated hinge">Whoops!!</h1>
          <p class="animated slideInUp">
            Page Not Found
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center not-found">
    {{{ contents }}}
  </div>

{{> footer}}
